In [54]:
import pandas as pd 
import numpy as np

In [55]:
mydata=pd.read_csv(r'C:\Users\IT-Department\Desktop\all dataset\Labs.csv')

In [56]:
mydata

         ID DRAW_DATE LAB_RESULT_CODE LAB_VALUE
0       1.0    04-Jul           LAB A       679
1       1.0    01-Aug           LAB A       621
2       1.0    05-Sep           LAB A       915
3       1.0    03-Oct           LAB A       848
4       1.0    07-Nov           LAB A       845
...     ...       ...             ...       ...
2392  129.0    16-Aug           LAB B      10.0
2393  129.0    04-Sep           LAB B       9.4
2394  129.0    05-Jul           LAB C        36
2395  129.0    02-Aug           LAB C        39
2396  129.0    04-Sep           LAB C        27

[2397 rows x 4 columns]

In [57]:
print(mydata)

         ID DRAW_DATE LAB_RESULT_CODE LAB_VALUE
0       1.0    04-Jul           LAB A       679
1       1.0    01-Aug           LAB A       621
2       1.0    05-Sep           LAB A       915
3       1.0    03-Oct           LAB A       848
4       1.0    07-Nov           LAB A       845
...     ...       ...             ...       ...
2392  129.0    16-Aug           LAB B      10.0
2393  129.0    04-Sep           LAB B       9.4
2394  129.0    05-Jul           LAB C        36
2395  129.0    02-Aug           LAB C        39
2396  129.0    04-Sep           LAB C        27

[2397 rows x 4 columns]

In [58]:
# Display the first few rows of the dataset
print(mydata.head())

    ID DRAW_DATE LAB_RESULT_CODE LAB_VALUE
0  1.0    04-Jul           LAB A       679
1  1.0    01-Aug           LAB A       621
2  1.0    05-Sep           LAB A       915
3  1.0    03-Oct           LAB A       848
4  1.0    07-Nov           LAB A       845

In [59]:
# Basic info and summary statistics
print(mydata.info())
print(mydata.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2397 entries, 0 to 2396
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2095 non-null   float64
 1   DRAW_DATE        2397 non-null   object
 2   LAB_RESULT_CODE  2397 non-null   object
 3   LAB_VALUE        2397 non-null   object
dtypes: float64(1), object(3)
memory usage: 75.0+ KB
None
                ID
count  2095.000000
mean     65.557041
std      38.453118
min       1.000000
25%      31.000000
50%      66.000000
75%      99.000000
max     129.000000

In [60]:
# Check for missing values
print(mydata.isnull().sum())

ID                 302
DRAW_DATE            0
LAB_RESULT_CODE      0
LAB_VALUE            0
dtype: int64

In [61]:
# For example, drop rows with missing values
mydata=mydata.dropna()
print(mydata)

         ID DRAW_DATE LAB_RESULT_CODE LAB_VALUE
0       1.0    04-Jul           LAB A       679
1       1.0    01-Aug           LAB A       621
2       1.0    05-Sep           LAB A       915
3       1.0    03-Oct           LAB A       848
4       1.0    07-Nov           LAB A       845
...     ...       ...             ...       ...
2392  129.0    16-Aug           LAB B      10.0
2393  129.0    04-Sep           LAB B       9.4
2394  129.0    05-Jul           LAB C        36
2395  129.0    02-Aug           LAB C        39
2396  129.0    04-Sep           LAB C        27

[2095 rows x 4 columns]

In [98]:
# For example, drop rows with missing values
data = data.dropna()

In [99]:
print(data)

         ID DRAW_DATE LAB_RESULT_CODE LAB_VALUE
0       1.0    04-Jul           LAB A       679
1       1.0    01-Aug           LAB A       621
2       1.0    05-Sep           LAB A       915
3       1.0    03-Oct           LAB A       848
4       1.0    07-Nov           LAB A       845
...     ...       ...             ...       ...
2392  129.0    16-Aug           LAB B      10.0
2393  129.0    04-Sep           LAB B       9.4
2394  129.0    05-Jul           LAB C        36
2395  129.0    02-Aug           LAB C        39
2396  129.0    04-Sep           LAB C        27

[2095 rows x 4 columns]

In [102]:
# Select numerical columns for anomaly detection
# Adjust this based on your dataset's actual column names
numeric_columns = data.select_dtypes(include=[np.number]).columns.tolist()
X = data[numeric_columns]

In [103]:
print(numeric_columns)

['ID']

In [123]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [124]:
print(scaler)
print(X_scaled)

StandardScaler()
[[-1.67925144]
 [-1.67925144]
 [-1.67925144]
 ...
 [ 1.65027207]
 [ 1.65027207]
 [ 1.65027207]]

In [125]:
from sklearn.ensemble import IsolationForest

In [126]:
# Initialize the Isolation Forest model
model = IsolationForest(contamination=0.05, random_state=42)

In [128]:
# Fit the model
model.fit(X_scaled)

IsolationForest(contamination=0.05, random_state=42)

In [129]:
# Predict anomalies
data['anomaly'] = model.predict(X_scaled)

In [130]:
print(data['anomaly'])

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
2392   -1
2393   -1
2394   -1
2395   -1
2396   -1
Name: anomaly, Length: 2095, dtype: int32

In [131]:
# Convert -1 (anomaly) to 1 and 1 (normal) to 0 for easier interpretation
data['anomaly'] = np.where(data['anomaly'] == -1, 1, 0)

In [133]:
# Display anomalies
anomalies = data[data['anomaly'] == 1]
print("Detected Anomalies:\n", anomalies)

Detected Anomalies:
          ID DRAW_DATE LAB_RESULT_CODE LAB_VALUE  anomaly
0       1.0    04-Jul           LAB A       679        1
1       1.0    01-Aug           LAB A       621        1
2       1.0    05-Sep           LAB A       915        1
3       1.0    03-Oct           LAB A       848        1
4       1.0    07-Nov           LAB A       845        1
...     ...       ...             ...       ...      ...
2392  129.0    16-Aug           LAB B      10.0        1
2393  129.0    04-Sep           LAB B       9.4        1
2394  129.0    05-Jul           LAB C        36        1
2395  129.0    02-Aug           LAB C        39        1
2396  129.0    04-Sep           LAB C        27        1

[100 rows x 5 columns]

In [136]:
import joblib

# Save the model
joblib.dump(model, 'anomaly_detection_model.pkl')

# Load the model later
loaded_model = joblib.load('anomaly_detection_model.pkl')

In [137]:
print(loaded_model)

IsolationForest(contamination=0.05, random_state=42)

In [138]:
print(joblib.dump)

<function dump at 0x000001C12498FBA0>