In [1]:
import pandas as pd

In [4]:
mydata=pd.read_csv(r'C:\Users\DCS\Desktop\supermarket_sales.csv')

In [6]:
mydata

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [9]:
# View the first few rows
mydata.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [11]:
# Get an overview of the data structure
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [13]:
# Check for missing values
mydata.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [32]:
# Convert Date column to datetime type
mydata['Date'] = pd.to_datetime(mydata['Date'])
print(mydata)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  ...  \
0         Health and beauty       74.69         7  26.1415   548.9715  ...
1    Electronic accessories       15.28         5   3.8200    80.2200  ...
2        Home and lifestyle       46.33         7  16.2155   340.5255  ...
3         Health and beauty       58.22         8  23.2880   489.0480  ...
4         Sports and travel       86.31         7  30.2085   634.3785  ...
..                      ...         ...       ...      ...        ...  ...
995       Health and beauty       40.35         1   2.0175    42.3675  ...
996      Home and lifestyle       97.38        10  48.6900  1022.4900  ...
997      Food and beverages       31.84         1   1.5920    33.4320  ...
998      Home and lifestyle       65.82         1   3.2910    69.1110  ...
999     Fashion accessories       88.34         7  30.9190   649.2990  ...

      Time      Payment    cogs  gross margin percentage  gross income  \
0    13:08      Ewallet  522.83                 4.761905       26.1415
1    10:29         Cash   76.40                 4.761905        3.8200
2    13:23  Credit card  324.31                 4.761905       16.2155
3    20:33      Ewallet  465.76                 4.761905       23.2880
4    10:37      Ewallet  604.17                 4.761905       30.2085
..     ...          ...     ...                      ...           ...
995  13:46      Ewallet   40.35                 4.761905        2.0175
996  17:16      Ewallet  973.80                 4.761905       48.6900
997  13:22         Cash   31.84                 4.761905        1.5920
998  15:33         Cash   65.82                 4.761905        3.2910
999  13:28         Cash  618.38                 4.761905       30.9190

     Rating  Day  Month  Year  Customer_Segment
0       9.1    5      1  2019                 0
1       9.6    8      3  2019                 2
2       7.4    3      3  2019                 0
3       8.4   27      1  2019                 0
4       5.3    8      2  2019                 1
..      ...  ...    ...   ...               ...
995     6.2   29      1  2019                 2
996     4.4    2      3  2019                 1
997     7.7    9      2  2019                 2
998     4.1   22      2  2019                 2
999     6.6   18      2  2019                 1

[1000 rows x 21 columns]

In [33]:
# Example of feature engineering: Extract day, month, and year
mydata['Day'] = mydata['Date'].dt.day
mydata['Month'] = mydata['Date'].dt.month
mydata['Year'] = mydata['Date'].dt.year
print(mydata)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  ...  \
0         Health and beauty       74.69         7  26.1415   548.9715  ...
1    Electronic accessories       15.28         5   3.8200    80.2200  ...
2        Home and lifestyle       46.33         7  16.2155   340.5255  ...
3         Health and beauty       58.22         8  23.2880   489.0480  ...
4         Sports and travel       86.31         7  30.2085   634.3785  ...
..                      ...         ...       ...      ...        ...  ...
995       Health and beauty       40.35         1   2.0175    42.3675  ...
996      Home and lifestyle       97.38        10  48.6900  1022.4900  ...
997      Food and beverages       31.84         1   1.5920    33.4320  ...
998      Home and lifestyle       65.82         1   3.2910    69.1110  ...
999     Fashion accessories       88.34         7  30.9190   649.2990  ...

      Time      Payment    cogs  gross margin percentage  gross income  \
0    13:08      Ewallet  522.83                 4.761905       26.1415
1    10:29         Cash   76.40                 4.761905        3.8200
2    13:23  Credit card  324.31                 4.761905       16.2155
3    20:33      Ewallet  465.76                 4.761905       23.2880
4    10:37      Ewallet  604.17                 4.761905       30.2085
..     ...          ...     ...                      ...           ...
995  13:46      Ewallet   40.35                 4.761905        2.0175
996  17:16      Ewallet  973.80                 4.761905       48.6900
997  13:22         Cash   31.84                 4.761905        1.5920
998  15:33         Cash   65.82                 4.761905        3.2910
999  13:28         Cash  618.38                 4.761905       30.9190

     Rating  Day  Month  Year  Customer_Segment
0       9.1    5      1  2019                 0
1       9.6    8      3  2019                 2
2       7.4    3      3  2019                 0
3       8.4   27      1  2019                 0
4       5.3    8      2  2019                 1
..      ...  ...    ...   ...               ...
995     6.2   29      1  2019                 2
996     4.4    2      3  2019                 1
997     7.7    9      2  2019                 2
998     4.1   22      2  2019                 2
999     6.6   18      2  2019                 1

[1000 rows x 21 columns]

In [22]:
# Example: Linear Regression for sales prediction
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Define features and target
X = mydata[['Day', 'Month', 'Quantity']]  # Example features
y = mydata['Total']  # Target (Sales Amount)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test data
y_pred = model.predict(X_test)

In [34]:
print(X,mydata)
print(y,mydata)

     Day  Month  Quantity
0      5      1         7
1      8      3         5
2      3      3         7
3     27      1         8
4      8      2         7
..   ...    ...       ...
995   29      1         1
996    2      3        10
997    9      2         1
998   22      2         1
999   18      2         7

[1000 rows x 3 columns]       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  ...  \
0         Health and beauty       74.69         7  26.1415   548.9715  ...
1    Electronic accessories       15.28         5   3.8200    80.2200  ...
2        Home and lifestyle       46.33         7  16.2155   340.5255  ...
3         Health and beauty       58.22         8  23.2880   489.0480  ...
4         Sports and travel       86.31         7  30.2085   634.3785  ...
..                      ...         ...       ...      ...        ...  ...
995       Health and beauty       40.35         1   2.0175    42.3675  ...
996      Home and lifestyle       97.38        10  48.6900  1022.4900  ...
997      Food and beverages       31.84         1   1.5920    33.4320  ...
998      Home and lifestyle       65.82         1   3.2910    69.1110  ...
999     Fashion accessories       88.34         7  30.9190   649.2990  ...

      Time      Payment    cogs  gross margin percentage  gross income  \
0    13:08      Ewallet  522.83                 4.761905       26.1415
1    10:29         Cash   76.40                 4.761905        3.8200
2    13:23  Credit card  324.31                 4.761905       16.2155
3    20:33      Ewallet  465.76                 4.761905       23.2880
4    10:37      Ewallet  604.17                 4.761905       30.2085
..     ...          ...     ...                      ...           ...
995  13:46      Ewallet   40.35                 4.761905        2.0175
996  17:16      Ewallet  973.80                 4.761905       48.6900
997  13:22         Cash   31.84                 4.761905        1.5920
998  15:33         Cash   65.82                 4.761905        3.2910
999  13:28         Cash  618.38                 4.761905       30.9190

     Rating  Day  Month  Year  Customer_Segment
0       9.1    5      1  2019                 0
1       9.6    8      3  2019                 2
2       7.4    3      3  2019                 0
3       8.4   27      1  2019                 0
4       5.3    8      2  2019                 1
..      ...  ...    ...   ...               ...
995     6.2   29      1  2019                 2
996     4.4    2      3  2019                 1
997     7.7    9      2  2019                 2
998     4.1   22      2  2019                 2
999     6.6   18      2  2019                 1

[1000 rows x 21 columns]
0       548.9715
1        80.2200
2       340.5255
3       489.0480
4       634.3785
         ...
995      42.3675
996    1022.4900
997      33.4320
998      69.1110
999     649.2990
Name: Total, Length: 1000, dtype: float64       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  ...  \
0         Health and beauty       74.69         7  26.1415   548.9715  ...
1    Electronic accessories       15.28         5   3.8200    80.2200  ...
2        Home and lifestyle       46.33         7  16.2155   340.5255  ...
3         Health and beauty       58.22         8  23.2880   489.0480  ...
4         Sports and travel       86.31         7  30.2085   634.3785  ...
..                      ...         ...       ...      ...        ...  ...
995       Health and beauty       40.35         1   2.0175    42.3675  ...
996      Home and lifestyle       97.38        10  48.6900  1022.4900  ...
997      Food and beverages       31.84         1   1.5920    33.4320  ...
998      Home and lifestyle       65.82         1   3.2910    69.1110  ...
999     Fashion accessories       88.34         7  30.9190   649.2990  ...

      Time      Payment    cogs  gross margin percentage  gross income  \
0    13:08      Ewallet  522.83                 4.761905       26.1415
1    10:29         Cash   76.40                 4.761905        3.8200
2    13:23  Credit card  324.31                 4.761905       16.2155
3    20:33      Ewallet  465.76                 4.761905       23.2880
4    10:37      Ewallet  604.17                 4.761905       30.2085
..     ...          ...     ...                      ...           ...
995  13:46      Ewallet   40.35                 4.761905        2.0175
996  17:16      Ewallet  973.80                 4.761905       48.6900
997  13:22         Cash   31.84                 4.761905        1.5920
998  15:33         Cash   65.82                 4.761905        3.2910
999  13:28         Cash  618.38                 4.761905       30.9190

     Rating  Day  Month  Year  Customer_Segment
0       9.1    5      1  2019                 0
1       9.6    8      3  2019                 2
2       7.4    3      3  2019                 0
3       8.4   27      1  2019                 0
4       5.3    8      2  2019                 1
..      ...  ...    ...   ...               ...
995     6.2   29      1  2019                 2
996     4.4    2      3  2019                 1
997     7.7    9      2  2019                 2
998     4.1   22      2  2019                 2
999     6.6   18      2  2019                 1

[1000 rows x 21 columns]

In [35]:
print(X_train)

     Day  Month  Quantity
29    15      3         9
535    7      2         7
695   29      1         5
557   30      1        10
836    9      1         5
..   ...    ...       ...
106    5      1         6
270    6      3         5
860   20      2         1
435   19      3         9
102    1      2         9

[800 rows x 3 columns]

In [36]:
print(X_test)

     Day  Month  Quantity
521   20      3         6
737   29      1        10
740   23      3         7
660    3      2         3
411   25      1         2
..   ...    ...       ...
408    4      3         4
332    3      2         5
208   28      3         3
613   19      1         1
78     5      3        10

[200 rows x 3 columns]

In [37]:
print(y_train)

29      235.2105
535     122.5245
695     458.6925
557    1034.4600
836     202.3350
         ...
106     172.4940
270     354.0075
860      90.5835
435     937.8180
102     218.0115
Name: Total, Length: 800, dtype: float64

In [38]:
print(y_test)

521    523.9710
737    616.9800
740    408.7335
660    135.3555
411     45.9270
         ...
408    237.4260
332    404.3550
208     95.6655
613     84.9765
78     822.2550
Name: Total, Length: 200, dtype: float64

In [39]:
print(model)

LinearRegression()

In [40]:
print(model.fit)

<bound method LinearRegression.fit of LinearRegression()>

In [27]:
from sklearn.cluster import KMeans

# Select features relevant to customer segmentation
features = mydata[['Quantity', 'Total', 'Unit price', 'gross income']]  # Example features

# Apply K-Means clustering
kmeans = KMeans(n_clusters=3, random_state=42)
mydata['Customer_Segment'] = kmeans.fit_predict(features)

C:\Users\DCS\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [41]:
print(features)

     Quantity      Total  Unit price  gross income
0           7   548.9715       74.69       26.1415
1           5    80.2200       15.28        3.8200
2           7   340.5255       46.33       16.2155
3           8   489.0480       58.22       23.2880
4           7   634.3785       86.31       30.2085
..        ...        ...         ...           ...
995         1    42.3675       40.35        2.0175
996        10  1022.4900       97.38       48.6900
997         1    33.4320       31.84        1.5920
998         1    69.1110       65.82        3.2910
999         7   649.2990       88.34       30.9190

[1000 rows x 4 columns]

In [42]:
print(kmeans)

KMeans(n_clusters=3, random_state=42)

In [43]:
print(mydata)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  ...  \
0         Health and beauty       74.69         7  26.1415   548.9715  ...
1    Electronic accessories       15.28         5   3.8200    80.2200  ...
2        Home and lifestyle       46.33         7  16.2155   340.5255  ...
3         Health and beauty       58.22         8  23.2880   489.0480  ...
4         Sports and travel       86.31         7  30.2085   634.3785  ...
..                      ...         ...       ...      ...        ...  ...
995       Health and beauty       40.35         1   2.0175    42.3675  ...
996      Home and lifestyle       97.38        10  48.6900  1022.4900  ...
997      Food and beverages       31.84         1   1.5920    33.4320  ...
998      Home and lifestyle       65.82         1   3.2910    69.1110  ...
999     Fashion accessories       88.34         7  30.9190   649.2990  ...

      Time      Payment    cogs  gross margin percentage  gross income  \
0    13:08      Ewallet  522.83                 4.761905       26.1415
1    10:29         Cash   76.40                 4.761905        3.8200
2    13:23  Credit card  324.31                 4.761905       16.2155
3    20:33      Ewallet  465.76                 4.761905       23.2880
4    10:37      Ewallet  604.17                 4.761905       30.2085
..     ...          ...     ...                      ...           ...
995  13:46      Ewallet   40.35                 4.761905        2.0175
996  17:16      Ewallet  973.80                 4.761905       48.6900
997  13:22         Cash   31.84                 4.761905        1.5920
998  15:33         Cash   65.82                 4.761905        3.2910
999  13:28         Cash  618.38                 4.761905       30.9190

     Rating  Day  Month  Year  Customer_Segment
0       9.1    5      1  2019                 0
1       9.6    8      3  2019                 2
2       7.4    3      3  2019                 0
3       8.4   27      1  2019                 0
4       5.3    8      2  2019                 1
..      ...  ...    ...   ...               ...
995     6.2   29      1  2019                 2
996     4.4    2      3  2019                 1
997     7.7    9      2  2019                 2
998     4.1   22      2  2019                 2
999     6.6   18      2  2019                 1

[1000 rows x 21 columns]

In [30]:
# Example: Random Forest for inventory optimization
from sklearn.ensemble import RandomForestRegressor

# Features: Date, Quantity sold, and other relevant factors
X_inventory = mydata[['Day', 'Month', 'cogs']]  # Example features
y_inventory = mydata['Quantity']  # Target: Quantity

# Split and train Random Forest
rf_model = RandomForestRegressor()
rf_model.fit(X_inventory, y_inventory)

# Predict future inventory needs
y_inventory_pred = rf_model.predict(X_inventory)

In [44]:
print(X_inventory)

     Day  Month    cogs
0      5      1  522.83
1      8      3   76.40
2      3      3  324.31
3     27      1  465.76
4      8      2  604.17
..   ...    ...     ...
995   29      1   40.35
996    2      3  973.80
997    9      2   31.84
998   22      2   65.82
999   18      2  618.38

[1000 rows x 3 columns]

In [45]:
print(y_inventory)

0       7
1       5
2       7
3       8
4       7
       ..
995     1
996    10
997     1
998     1
999     7
Name: Quantity, Length: 1000, dtype: int64

In [46]:
print(rf_model)

RandomForestRegressor()

In [47]:
print(rf_model.fit)

<bound method BaseForest.fit of RandomForestRegressor()>

In [48]:
print(y_inventory_pred)

[ 7.49  4.16  6.93  8.29  7.91  7.04  5.8   9.89  2.43  3.42  3.59  4.64
  4.67  9.14  9.63  7.07  6.93  6.82  3.21  2.53  5.29  3.58  2.7   4.74
  3.64  7.29  1.14  3.48  5.86  7.73  5.45  8.8   7.88  4.01  4.71  1.85
  5.66  8.98  7.38  7.54  1.55  4.16  7.03  8.49  1.86  5.72  8.49  7.9
  4.7   9.78  7.72  6.05  3.83  1.    1.83  8.21  2.33  8.31  9.6   5.25
  3.02  5.92  8.58  9.29  5.34  8.85  2.12  6.72  9.55  1.02  9.94  9.34
  3.41  6.64  8.65  8.93  7.9   8.26  9.76  4.89  6.18  3.57  6.95  5.5
  5.01  7.09  4.94  6.85  1.37  6.65  3.92  8.6   6.29  8.63  1.42  2.76
  9.67  4.45  4.34  6.67  1.46  9.04  8.12  6.27  6.29  9.92  5.23  5.89
  7.65  9.87  1.67  3.76  7.23  8.35  9.21  2.77  5.74  1.55  8.32  3.27
  8.36  6.98  9.22  7.78  7.61  7.46  4.37  8.08  8.29  9.29  6.53  6.75
  4.08  7.05  6.84  4.05  4.32  5.56  9.08  8.13  9.77  9.89  9.63  1.2
  6.28  6.16  8.78  4.25  7.52  6.64  4.61  5.87  9.1   4.91  8.17  5.43
  1.22  5.19  9.22  6.43  7.63  1.22  7.15  3.1   8.47  7.41  9.93 10.
  6.12  7.68  6.37  6.49  6.16  6.38  7.3   7.93  7.67  6.57  6.71  4.68
  7.2   6.92  7.87  7.26  5.36  2.72  8.2   4.01  1.87  4.23  4.03  3.53
  8.92  4.42  4.36  1.61  2.24  1.16  4.01  5.82  5.56  5.01  7.29  8.42
  3.9   7.77  8.35  8.63  3.51  9.22  7.    9.25  5.34  3.44  6.62  1.
  4.82  3.9   8.21  3.23  6.32  7.45  4.43  1.    2.15  3.6   8.86  3.72
  6.49  7.54  2.74  2.66  8.72  3.93  9.43  2.31  4.54  4.99  4.28  1.93
  8.03  2.7   3.77  4.36  8.2   7.5   3.84  3.97  4.67  7.18  8.81  9.1
  1.72  3.93  7.75  4.46  1.64  5.7   4.15  4.78  8.8   3.7   4.75  8.24
  1.57  7.27  4.19  9.38  4.49  8.46  5.89  1.71  8.27  1.63  6.24  6.55
  8.72  5.11  9.16  9.03  8.12  1.18  1.01  6.71  4.09  6.07  1.86  8.45
  7.17  7.63  9.56  7.13  1.3   1.97  8.11  5.5   3.79  6.69  4.7   1.4
  3.45  1.09  1.27  4.84  6.53  6.95  5.93  8.14  2.53  3.7   6.06  3.18
  4.09  7.57  9.76  3.03  2.94  5.74  6.73  5.59  7.65  1.23  4.59  5.02
  5.04  5.05  5.72  4.63  4.91  4.92  7.12  2.97  5.78  2.28  3.7   4.47
  8.65  6.25  4.34  7.72  3.07  6.59  7.41  5.76  3.66  8.8   1.61  8.28
  5.89  8.09  9.97  6.81  6.27  8.04  1.09  5.83  8.24 10.    3.27  2.12
  8.13  8.37  3.67  6.4   4.1   5.59  7.95  4.36  7.57  7.99  6.59  3.47
  6.63  6.    5.97  6.    7.89  7.58  4.91  3.92  5.9   2.41  5.62  4.95
  5.56  2.31  6.2   9.03  8.5   5.61  3.55  8.55  1.77  9.63  1.63  6.13
  5.48  6.83  5.61  7.7   5.9   4.17  1.    4.07  7.62  4.75  4.01  4.44
  4.32  4.9   8.91  1.88  5.33  3.02  7.53  1.93  4.48  1.42  2.84  6.68
  3.36  3.44 10.    6.41  1.    8.65  6.45  2.68  5.72  9.74  2.87  3.46
  5.19  7.22  1.41  9.01  5.42  5.67  3.83  7.31  3.77  8.39  8.95  1.03
  5.99  1.03  8.28  3.88  1.47  1.05  6.74  4.83  5.53  1.11  4.03  4.52
  8.73  9.59  8.97  1.27  5.62  9.61  4.36  1.01  4.98  9.    6.82  5.55
  1.    2.06  6.2   3.72  9.55  8.03  5.29  3.74  4.45  5.38  8.95  1.05
  7.76  9.21  4.74  9.04  9.51  3.76  8.52  4.65  1.09  9.17  2.44  7.63
  6.68  7.86  3.56  7.73  2.34  6.42  1.87  8.1   1.32  1.31  3.58  2.55
  1.43  7.29  3.06  6.45  5.79  5.59  7.72  5.52  6.98  7.65  7.15  1.5
  5.5   4.43  2.55  5.67  3.91  6.35  6.34  2.32  7.05  5.27  3.99  2.68
  9.34  9.09  5.38  8.22  8.05  7.68  4.99  5.84  1.1   1.93  3.92  6.88
  2.83  1.28  3.52  5.35  1.45  4.85  8.53  8.72  4.63  6.35  3.07  7.97
  8.32  6.03  6.38  3.29  2.61  9.86  5.96  3.57  7.88  9.86  7.41  6.17
  2.64  9.69  9.3   8.29  7.67  7.48  6.    8.43  5.87  2.71  5.97  7.46
  3.99  4.06  4.32  2.68  2.63  4.79  2.76  3.32  3.05  4.79  3.27  4.97
  9.17  4.35  5.6   5.39  1.2   3.48  4.47  2.16  3.5   8.11  4.9   3.42
  2.41  1.19  9.59  6.89  6.76  4.12  6.84  4.6   1.17  2.61  1.24  9.17
  3.8   1.42  9.35  8.17  6.34  5.89  6.14  6.14  3.78  1.4   7.53  9.95
  1.89  2.79  3.55  9.87  3.43  1.    9.43  3.81  2.86  4.    3.67  9.22
  6.46  1.29  4.1   3.46  3.46  8.22  3.96  8.03  4.18  8.12  6.2   1.32
  1.83  8.47  5.55  6.05  9.59  7.64  3.75  2.61  1.75  3.53  4.25  1.61
  3.75  5.64  6.36  9.91  2.83  5.37  3.98  3.39  6.51  2.07  9.31  2.98
  5.09  6.5   8.65  2.78  7.16  3.93  9.06  6.98  1.03  1.43  6.75  1.74
  5.2   3.1   2.98  8.98  2.64  3.73  8.82  6.57  8.86  7.22  8.18  5.95
  4.43  4.44  8.84 10.    7.87  3.18  8.24  9.1   9.01  6.82  4.34  1.98
  6.22  2.59  6.38  4.92  8.7   7.2   8.36  5.45  6.94  2.24  3.54  5.23
  6.91  9.22  3.66  6.42  3.17  7.47  3.41  9.58  4.92  7.    3.82  3.23
  1.01  7.12  1.77  9.85  6.97  9.06  8.63  9.15  6.31  2.29  2.71  1.88
  6.94  1.24  9.39  3.83  6.71  7.16  3.72  4.6   9.22  5.23  3.36  8.71
  7.12  6.6   7.96  4.28  9.86  9.75  7.88  3.94  4.46  8.49  4.03  4.66
  4.56  5.3   4.84  7.12  7.28  1.18  2.98  5.2   7.33  2.11  4.49  8.78
  7.6   4.45  1.08  7.82  3.56  7.49  7.62  4.05  4.11  7.31  1.21  5.31
  9.99  7.59  2.11  2.1   1.92  8.26  2.49  5.78  5.18  7.81  6.76  8.53
  8.75  4.39  2.47  4.35  1.01  9.48  6.31  9.34  6.09  2.18  7.08  7.48
  6.75  6.52  5.08  5.25  4.56  2.51  1.    4.05  6.99  4.24  8.69  3.88
  9.17  9.58  5.67  4.21  6.2   1.89  7.35  1.58  5.    5.56  9.29  6.31
  3.46  1.82  2.26  1.73  1.01  4.05  1.41  1.02  8.64  6.72  1.28  2.99
  6.67  8.8   5.73  8.67  6.13  4.34  7.16  7.77  1.86  1.7   7.28  6.9
  3.79  4.13  8.27  3.41  2.75  5.1   7.07  1.62  8.47  6.57  3.1   8.37
  1.21  1.12  8.51  5.66  8.    6.86  8.89  5.67  2.84  7.16  1.7   9.79
  5.85  9.76  5.95  7.78  6.08  5.04  5.88  8.44  7.3   5.33  7.2   7.74
  8.47  4.22  4.66  5.54  2.49  4.89  9.89  5.73  2.83  8.85  2.76  4.38
  8.55  7.67  3.4   6.39  1.25  4.18  4.32  2.62  8.05  4.68  1.75  6.82
  6.36  3.49  2.08  7.98  8.94  2.23  6.55  3.59  9.51  7.18  5.95  3.23
  7.26  5.6   4.08  6.51  4.09  9.16  8.96  4.64  6.03  7.71  2.52  1.6
  5.37  6.97  4.21  2.89  4.14  3.34  5.66  6.7   8.12  5.9   8.83  9.1
  1.68  1.71  1.    3.83  1.68  2.71  7.3   3.83  2.48  4.22  9.93  6.75
  7.4   3.57  3.26  2.81  4.73  4.76  1.27  1.53  3.96  4.69  9.19  7.66
  7.61  6.07  1.84  7.92  9.82  7.87  5.02  9.8   2.45  9.09  1.42  1.05
  9.89  1.4   1.31  7.62]

In [31]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Evaluate sales forecasting model
print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))

MAE: 137.93630116529394
MSE: 31988.623337298046